### sanity check of the scores

In [1]:
import pandas as pd
df = pd.read_csv(
    filepath_or_buffer = "/Users/santiagocardenas/Documents/MDSI/202502/internship/internship_project/data/processed/scores.csv",
    index_col = ["candidate_id", "group_id"]
)
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 26 entries, ('af62b86c3a326086', np.int64(0)) to ('c5f45dfe145427e1', np.int64(3))
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Data Analytics                      26 non-null     int64
 1   Business Transformation             26 non-null     int64
 2   Cloud Computing                     26 non-null     int64
 3   Data Governance                     26 non-null     int64
 4   Client Engagement                   26 non-null     int64
 5   SQL                                 26 non-null     int64
 6   ETL/ELT Processes                   26 non-null     int64
 7   Data Visualization Tools            26 non-null     int64
 8   Data Modeling                       26 non-null     int64
 9   Data Transformation Tools           26 non-null     int64
 10  Problem Solving                     26 non-null     int64
 11  Communication                       26 non-null     int64
 12  Collaboration                       26 non-null     int64
 13  Proactive Learning                  26 non-null     int64
 14  Teamwork                            26 non-null     int64
 15  Focus on Client Success             26 non-null     int64
 16  Team-Oriented Mindset               26 non-null     int64
 17  Emphasis on Continuous Improvement  26 non-null     int64
 18  Commitment to Professional Growth   26 non-null     float64
 19  Adaptability                        26 non-null     float64
 20  overall                             26 non-null     float64
dtypes: float64(3), int64(18)
memory usage: 5.9+ KB

In [2]:
df.head()

,,Data Analytics,Business Transformation,Cloud Computing,Data Governance,Client Engagement,SQL,ETL/ELT Processes,Data Visualization Tools,Data Modeling,Data Transformation Tools,...,Communication,Collaboration,Proactive Learning,Teamwork,Focus on Client Success,Team-Oriented Mindset,Emphasis on Continuous Improvement,Commitment to Professional Growth,Adaptability,overall
candidate_id,group_id,,,,,,,,,,,,,,,,,,,,,
af62b86c3a326086,0,85,90,60,70,80,90,75,85,80,70,...,80,90,95,80,75,85,80,90.0,0.0,77.95
b5142b9b9676a4f9,0,95,90,85,80,85,90,95,90,90,80,...,85,90,95,95,90,95,85,90.0,80.0,88.80
de4e24b044e42f42,1,80,70,65,50,75,85,60,70,75,60,...,75,90,70,75,80,70,75,0.0,0.0,66.50
8821085d3ae9e0ce,3,80,75,90,70,80,85,80,75,70,85,...,80,85,80,90,80,70,75,0.0,0.0,73.70
90e485656ce9236d,3,90,85,80,90,85,95,80,90,85,90,...,90,90,95,85,90,80,95,90.0,90.0,88.45

In [3]:
weights = [25, 30, 25, 20]
domains = ["Data Analytics", "Business Transformation", "Consulting", "Data Management", "Information Technology"]
tech_skills = ["Data Modeling", "ETL Processes", "Data Governance", "Data Visualization", "Analytics Integration"]
soft_skills = ["Problem Solving", "Client Engagement", "Team Collaboration", "Effective Communication", "Adaptability"]
culture = ["Passion for Innovation", "Synergy and Collaboration", "Continuous Improvement", "Proactive Learning", "Commitment to Excellence"]
all_criteria = domains + tech_skills + soft_skills + culture
print(f"the lenght of weights is: {len(weights)}")
print(f"the lenght of weights is: {len(all_criteria)}")

the lenght of weights is: 4
the lenght of weights is: 20

In [4]:
print(f"the total number of columns: {len(df.columns)}")

the total number of columns: 21

In [7]:
missing_column = set(df.columns.to_list()) - set(all_criteria)
print(missing_column)

{'overall'}

In [10]:
df.sort_values(by = 'overall', ascending = False).head(3)

,,Data Analytics,Business Transformation,Consulting,Data Management,Information Technology,Data Modeling,ETL Processes,Data Governance,Data Visualization,Analytics Integration,...,Client Engagement,Team Collaboration,Effective Communication,Adaptability,Passion for Innovation,Synergy and Collaboration,Continuous Improvement,Proactive Learning,Commitment to Excellence,overall
candidate_id,group_id,,,,,,,,,,,,,,,,,,,,,
90e485656ce9236d,2,85,80,75,90,95,90,85,80,90,85,...,95,95,80,90,80,85,90,95.0,90.0,87.15
6700f96c37c87933,2,90,85,80,95,90,95,90,85,93,88,...,95,91,90,95,85,93,90,95.0,0.0,86.73
8ed9c5e84fb32c65,0,90,85,80,95,90,88,92,95,87,85,...,88,90,92,85,90,95,90,88.0,0.0,85.09

In [15]:
col_weght_map = {
    c : weights[index//5]/500 for index, c in enumerate(df.columns) if c in all_criteria
}
col_weght_map

{'Data Analytics': 0.05,
 'Business Transformation': 0.05,
 'Consulting': 0.05,
 'Data Management': 0.05,
 'Information Technology': 0.05,
 'Data Modeling': 0.06,
 'ETL Processes': 0.06,
 'Data Governance': 0.06,
 'Data Visualization': 0.06,
 'Analytics Integration': 0.06,
 'Problem Solving': 0.05,
 'Client Engagement': 0.05,
 'Team Collaboration': 0.05,
 'Effective Communication': 0.05,
 'Adaptability': 0.05,
 'Passion for Innovation': 0.04,
 'Synergy and Collaboration': 0.04,
 'Continuous Improvement': 0.04,
 'Proactive Learning': 0.04,
 'Commitment to Excellence': 0.04}

In [16]:
overall_v2 = sum(df[c] * w for c, w in col_weght_map.items())
overall_v2

candidate_id      group_id
af62b86c3a326086  2           76.02
b5142b9b9676a4f9  0           80.80
de4e24b044e42f42  3           66.90
8821085d3ae9e0ce  2           78.00
90e485656ce9236d  2           87.15
77aacb560b1dd217  1           82.60
c69f2087775fc760  2           81.78
f476ce0793a219b1  1           73.20
e5f8984dfa4cae3b  1           84.25
6700f96c37c87933  2           86.73
8ed9c5e84fb32c65  0           85.09
493d0d19e0150412  3           72.90
dd417e3f63181d20  3           81.25
4a9374ec3b2ca204  3           79.95
a8ca1108dd06b907  0           83.29
2b4c705e8b2a0770  1           79.20
ccfed7e7060c9916  1           62.40
c9cddf5fb828eab6  0           82.10
fae54469e0d024e8  3           77.70
6d743d56d9692fd0  1           77.60
adbef5e743bf5c48  2           69.15
0176a86af53206ae  0           83.15
f2ca85739fda42e4  1           80.40
934d1fdb8a6d1063  3           77.90
1f04921d492de215  0           80.40
c5f45dfe145427e1  0           84.69
dtype: float64

In [18]:
all(overall_v2 == df['overall'])

True

### structured output for relevant job experience

In [ ]:
from pydantic import BaseModel, Field
from typing import List, Optional
from langchain_core.prompts import ChatPromptTemplate
from dotenv import load_dotenv
from langchain_groq import ChatGroq

load_dotenv()
llm = ChatGroq(
    model = "llama-3.1-8b-instant"
)

class JobExperience(BaseModel):
    """Details about a single job experience."""
    job_title: str = Field(..., description="The candidate's job title.")
    company_name: str = Field(..., description="The name of the company.")
    years_of_experience: str = Field(..., description="The duration of employment (e.g., '2020 - 2023' or '2 years').")
    responsibilities: List[str] = Field(..., description="A list of key responsibilities and accomplishments.")

class CandidateExperience(BaseModel):
    """The structured extraction of a candidate's professional experience."""
    experience: List[JobExperience] = Field(..., description="A list of all professional experiences listed on the resume.")

extraction_prompt = ChatPromptTemplate.from_messages([
    (
        "system",
        (
            "You are an expert recruiter. Your task is to extract all professional experience from a candidate's resume "
            "into a structured JSON format. Provide all job titles, company names, years of experience, and "
            "a concise list of responsibilities for each role."
        ),
    ),
    (
        "human",
        (
            "Please extract the professional experience from the following resume:\n\n{resume}"
        ),
    ),
])

llm_constrained = llm.with_structured_output(schema = CandidateExperience)
extraction_chain = extraction_prompt | llm_constrained

In [20]:
from functions import text_extraction
sample_resume = text_extraction(
    file_path = "/Users/santiagocardenas/Documents/MDSI/202502/internship/internship_project/data/raw/cv/90e485656ce9236d-Qudrat Ali.docx"
)
msg = extraction_chain.invoke({
    "resume" : sample_resume
})
msg

CandidateExperience(experience=[JobExperience(job_title='Data Analyst', company_name='Next Wave MSP, Australia', years_of_experience='Jan 2024 â€“ Present', responsibilities=['Designed and monitored secure, end-to-end data pipelines, transforming raw data into analytics-ready formats using tools like dbt, Databricks, and SQL-based transformations.', 'Built interactive dashboards in Power BI and Tableau to visualize performance metrics, sentiment analysis, and call outcomesâ€”enabling real-time monitoring of customer experience KPIs.', 'Collaborated with data engineers and scientists to tune and integrate machine learning models into voice analytics workflows, enhancing system adaptability and business relevance.', 'Conducted deep-dive analyses using SQL, Python, R, and cloud platforms (BigQuery, Snowflake, Azure) to extract meaningful trends and drive strategic, data-informed decisions.', 'Applied data governance and documentation practices to improve data quality, pipeline transparency, and team-wide accessibility to structured and unstructured datasets.', 'Worked with cross-functional stakeholders to understand business challenges and deliver tailored data science and analytics solutions that support innovation and long-term growth.', 'Partnered with technical and non-technical teams to ensure secure data migration and integration, identifying potential risks and issues and supporting pre-deployment testing phases.', 'Contributed to NLP model optimization for transcription and sentiment tagging, aligning data science models with contact center monitoring goals.', 'Supported continuous improvement by evaluating emerging tools, optimizing workflows, and applying best practices across analytics and data science functions.', 'Known for excellent communication skills and ability to collaborate in agile, cross-functional teams to meet tight deadlines and evolving client requirements.']), JobExperience(job_title='Customer Service Representative', company_name='United Fuel Pump, VIC, Australia', years_of_experience='Aug 2023 â€“ Jan 2024', responsibilities=['Helped customers with fuel transactions, always making sure to provide friendly and fast service.', 'Managed the cash register, handling payments with cash, card, or loyalty points.', 'Restocked shelves and kept track of inventory to make sure products were available when customers needed them.', 'Took the time to listen to customer questions and resolve any concerns in a professional and helpful way.', 'Followed safety guidelines for handling fuel and made sure the work environment stayed safe and secure.', 'Assisted with everyday station tasks, like opening, closing, and completing end-of-day reports.']), JobExperience(job_title='Intern', company_name='Pantech, India', years_of_experience='Jan 2023 â€“ Jun 2023', responsibilities=['Contributed to gathering, cleaning, and preparing large datasets for analysis, ensuring the data was both accurate and reliable.', 'Performed exploratory data analysis (EDA) to uncover trends and patterns.', 'Developed interactive dashboards and visualizations using Tableau and Power BI to present key insights to stakeholders.', 'Wrote SQL queries to retrieve data from relational databases for reporting and analysis purposes.', 'Assisted in the development of predictive models by selecting features and testing various algorithms.', 'Monitored the integrity of data throughout the ETL process to ensure smooth and accurate data integration.'])])

In [21]:
total_job_experience = len(msg.experience)

In [22]:
total_job_experience

3

In [24]:
msg.model_dump()

{'experience': [{'job_title': 'Data Analyst',
   'company_name': 'Next Wave MSP, Australia',
   'years_of_experience': 'Jan 2024 â€“ Present',
   'responsibilities': ['Designed and monitored secure, end-to-end data pipelines, transforming raw data into analytics-ready formats using tools like dbt, Databricks, and SQL-based transformations.',
    'Built interactive dashboards in Power BI and Tableau to visualize performance metrics, sentiment analysis, and call outcomesâ€”enabling real-time monitoring of customer experience KPIs.',
    'Collaborated with data engineers and scientists to tune and integrate machine learning models into voice analytics workflows, enhancing system adaptability and business relevance.',
    'Conducted deep-dive analyses using SQL, Python, R, and cloud platforms (BigQuery, Snowflake, Azure) to extract meaningful trends and drive strategic, data-informed decisions.',
    'Applied data governance and documentation practices to improve data quality, pipeline transparency, and team-wide accessibility to structured and unstructured datasets.',
    'Worked with cross-functional stakeholders to understand business challenges and deliver tailored data science and analytics solutions that support innovation and long-term growth.',
    'Partnered with technical and non-technical teams to ensure secure data migration and integration, identifying potential risks and issues and supporting pre-deployment testing phases.',
    'Contributed to NLP model optimization for transcription and sentiment tagging, aligning data science models with contact center monitoring goals.',
    'Supported continuous improvement by evaluating emerging tools, optimizing workflows, and applying best practices across analytics and data science functions.',
    'Known for excellent communication skills and ability to collaborate in agile, cross-functional teams to meet tight deadlines and evolving client requirements.']},
  {'job_title': 'Customer Service Representative',
   'company_name': 'United Fuel Pump, VIC, Australia',
   'years_of_experience': 'Aug 2023 â€“ Jan 2024',
   'responsibilities': ['Helped customers with fuel transactions, always making sure to provide friendly and fast service.',
    'Managed the cash register, handling payments with cash, card, or loyalty points.',
    'Restocked shelves and kept track of inventory to make sure products were available when customers needed them.',
    'Took the time to listen to customer questions and resolve any concerns in a professional and helpful way.',
    'Followed safety guidelines for handling fuel and made sure the work environment stayed safe and secure.',
    'Assisted with everyday station tasks, like opening, closing, and completing end-of-day reports.']},
  {'job_title': 'Intern',
   'company_name': 'Pantech, India',
   'years_of_experience': 'Jan 2023 â€“ Jun 2023',
   'responsibilities': ['Contributed to gathering, cleaning, and preparing large datasets for analysis, ensuring the data was both accurate and reliable.',
    'Performed exploratory data analysis (EDA) to uncover trends and patterns.',
    'Developed interactive dashboards and visualizations using Tableau and Power BI to present key insights to stakeholders.',
    'Wrote SQL queries to retrieve data from relational databases for reporting and analysis purposes.',
    'Assisted in the development of predictive models by selecting features and testing various algorithms.',
    'Monitored the integrity of data throughout the ETL process to ensure smooth and accurate data integration.']}]}

### changing the calculation of the overall

In [62]:
import os
import pandas as pd
import numpy as np

root = "/".join(os.getcwd().split("/")[:-1])
processed_data_path = os.path.join(root, "data", "processed")
scores_path = os.path.join(processed_data_path, "scores.csv")

df = pd.read_csv(
    filepath_or_buffer = scores_path,
    index_col = ['candidate_id', 'group_id']
)
df.replace(
    to_replace = 0,
    value = np.nan,
    inplace = True
)
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 26 entries, ('af62b86c3a326086', np.int64(0)) to ('c5f45dfe145427e1', np.int64(3))
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Data Analytics                      26 non-null     int64
 1   Business Transformation             26 non-null     int64
 2   Cloud Computing                     26 non-null     int64
 3   Data Governance                     26 non-null     int64
 4   Client Engagement                   26 non-null     int64
 5   SQL                                 26 non-null     int64
 6   ETL/ELT Processes                   26 non-null     int64
 7   Data Visualization Tools            26 non-null     int64
 8   Data Modeling                       26 non-null     int64
 9   Data Transformation Tools           26 non-null     int64
 10  Problem Solving                     26 non-null     int64
 11  Communication                       26 non-null     int64
 12  Collaboration                       26 non-null     int64
 13  Proactive Learning                  26 non-null     int64
 14  Teamwork                            26 non-null     int64
 15  Focus on Client Success             26 non-null     int64
 16  Team-Oriented Mindset               26 non-null     int64
 17  Emphasis on Continuous Improvement  26 non-null     int64
 18  Commitment to Professional Growth   14 non-null     float64
 19  Adaptability                        2 non-null      float64
 20  overall                             26 non-null     float64
dtypes: float64(3), int64(18)
memory usage: 5.9+ KB

In [63]:
df.head()

,,Data Analytics,Business Transformation,Cloud Computing,Data Governance,Client Engagement,SQL,ETL/ELT Processes,Data Visualization Tools,Data Modeling,Data Transformation Tools,...,Communication,Collaboration,Proactive Learning,Teamwork,Focus on Client Success,Team-Oriented Mindset,Emphasis on Continuous Improvement,Commitment to Professional Growth,Adaptability,overall
candidate_id,group_id,,,,,,,,,,,,,,,,,,,,,
af62b86c3a326086,0,85,90,60,70,80,90,75,85,80,70,...,80,90,95,80,75,85,80,90.0,NaN,77.95
b5142b9b9676a4f9,0,95,90,85,80,85,90,95,90,90,80,...,85,90,95,95,90,95,85,90.0,80.0,88.80
de4e24b044e42f42,1,80,70,65,50,75,85,60,70,75,60,...,75,90,70,75,80,70,75,NaN,NaN,66.50
8821085d3ae9e0ce,3,80,75,90,70,80,85,80,75,70,85,...,80,85,80,90,80,70,75,NaN,NaN,73.70
90e485656ce9236d,3,90,85,80,90,85,95,80,90,85,90,...,90,90,95,85,90,80,95,90.0,90.0,88.45

In [64]:
def auxiliary_col_calutation(
    df : pd.DataFrame,
    columns : list,
    weight : float,
    output_col_name : str
):
    """
    Calculate auxiliary columns for a DataFrame based on a subset of columns.

    This function creates a copy of the input DataFrame and calculates three auxiliary columns:
    1. A count of NaN values for each row across the specified subset of columns.
    2. A sum of non-NaN values for each row across the specified subset of columns.
    3. A weighted average of the non-NaN values for each row across the specified subset of columns.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - columns (list): A list of column names to be used for calculations.
    - weight (float): The weight to apply in the weighted average calculation.
    - output_col_name (str): The base name for the output columns. The function will create
      columns named '<output_col_name>_na_count', '<output_col_name>_sum', and '<output_col_name>_average'.

    Returns:
    - pd.DataFrame: A copy of the input DataFrame with the additional auxiliary columns.

    Notes:
    - If all values in the specified columns are NaN for a row, the weighted average will be set to NaN.
    - The function does not modify the original DataFrame; it operates on a copy.
    """
    # create a copy of the dataframe
    df_copy = df.copy()
    # counts the number of na values for each row over a set of columns
    df_copy[f"{output_col_name}_na_count"] = df_copy[columns].isna().sum(axis = 1)
    # adds the rows of a subset of columns if the values are not na
    df_copy[f"{output_col_name}_sum"] = df_copy[columns].sum(axis = 1, skipna = True)
    # calculates the weighted average of the subset of columns for the non-na values
    df_copy[f"{output_col_name}_average"] = np.where(
        df_copy[f"{output_col_name}_na_count"] == len(columns), # in case all the columns are nan
        np.nan, # if all the nan then the result should be nan
        df_copy[f"{output_col_name}_sum"] * (weight / (len(columns) - df_copy[f"{output_col_name}_na_count"]))  
    )
    # some of the axiliary columns can be dropped after the calculation
    df_copy.drop(columns = [f"{output_col_name}_na_count", f"{output_col_name}_sum"], inplace = True)
    return df_copy

#### new calculation of the overall

In [65]:
domain_cols = df.columns[:4].to_list()
tech_skills_cols = df.columns[4 : 8].to_list()
soft_skills_cols = df.columns[8 : 12].to_list()
culture_cols = df.columns[12 : 16].to_list()
weights = [0.25, 0.35, 0.25, 0.15]
# calculation for domains
df = auxiliary_col_calutation(
    df, 
    domain_cols,
    weight = weights[0],
    output_col_name = "domains"
)
df = auxiliary_col_calutation(
    df,
    tech_skills_cols,
    weight = weights[1],
    output_col_name = "tech_skills"
)
df = auxiliary_col_calutation(
    df,
    soft_skills_cols,
    weight = weights[2],
    output_col_name = "soft_skills"
)

df = auxiliary_col_calutation(
    df,
    culture_cols,
    weight = weights[3],
    output_col_name = "culture"
)
df.loc["af62b86c3a326086", "culture_average"] = np.nan
df.head()

,,Data Analytics,Business Transformation,Cloud Computing,Data Governance,Client Engagement,SQL,ETL/ELT Processes,Data Visualization Tools,Data Modeling,Data Transformation Tools,...,Focus on Client Success,Team-Oriented Mindset,Emphasis on Continuous Improvement,Commitment to Professional Growth,Adaptability,overall,domains_average,tech_skills_average,soft_skills_average,culture_average
candidate_id,group_id,,,,,,,,,,,,,,,,,,,,,
af62b86c3a326086,0,85,90,60,70,80,90,75,85,80,70,...,75,85,80,90.0,NaN,77.95,19.0625,28.875,19.6875,NaN
b5142b9b9676a4f9,0,95,90,85,80,85,90,95,90,90,80,...,90,95,85,90.0,80.0,88.80,21.8750,31.500,21.5625,13.8750
de4e24b044e42f42,1,80,70,65,50,75,85,60,70,75,60,...,80,70,75,NaN,NaN,66.50,16.5625,25.375,18.1250,11.8125
8821085d3ae9e0ce,3,80,75,90,70,80,85,80,75,70,85,...,80,70,75,NaN,NaN,73.70,19.6875,28.000,20.3125,12.5625
90e485656ce9236d,3,90,85,80,90,85,95,80,90,85,90,...,90,80,95,90.0,90.0,88.45,21.5625,30.625,22.5000,13.5000

In [66]:
# calcute the average on edge case that there is complete null criteria
cols_2_sum = [c for c in df.columns.tolist() if c.endswith("average")]
# look at the na values in any of the column subset
df["na_count"] = df[cols_2_sum].isna().sum(axis = 1)
# calcute the sum of the non nan values
df["non_na_sum"] = df[cols_2_sum].sum(axis = 1, skipna = True)
# calculate the refined overall
df['refined_overall'] = np.where(
    df['na_count'] > 0,
    df['non_na_sum'] * (len(cols_2_sum) / (len(cols_2_sum) - df['na_count'])),
    df['non_na_sum']
)
df[['overall', "refined_overall"]]

                           overall  refined_overall
candidate_id     group_id
af62b86c3a326086 0           77.95        90.166667
b5142b9b9676a4f9 0           88.80        88.812500
de4e24b044e42f42 1           66.50        71.875000
8821085d3ae9e0ce 3           73.70        80.562500
90e485656ce9236d 3           88.45        88.187500
77aacb560b1dd217 2           79.40        82.000000
c69f2087775fc760 2           81.30        88.125000
f476ce0793a219b1 3           73.40        79.000000
e5f8984dfa4cae3b 1           77.85        84.500000
6700f96c37c87933 0           78.55        85.500000
8ed9c5e84fb32c65 0           80.90        83.937500
493d0d19e0150412 3           69.05        74.937500
dd417e3f63181d20 1           74.45        79.312500
4a9374ec3b2ca204 0           82.29        85.925000
a8ca1108dd06b907 0           79.05        86.812500
2b4c705e8b2a0770 0           69.10        70.875000
ccfed7e7060c9916 1           65.20        67.500000
c9cddf5fb828eab6 2           81.50        84.562500
fae54469e0d024e8 2           80.65        83.750000
6d743d56d9692fd0 2           71.25        78.500000
adbef5e743bf5c48 3           68.60        74.187500
0176a86af53206ae 1           82.50        85.500000
f2ca85739fda42e4 1           82.47        85.800000
934d1fdb8a6d1063 1           74.55        77.125000
1f04921d492de215 2           74.95        81.375000
c5f45dfe145427e1 3           82.85        86.312500